* {
  box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
    max-width: 100%
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.main-cat {
  width: 75%;
}
.side {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 30px;
  width: 25%;
}
@media only screen and (max-width: 550px) {
  .main-cat,
  .side {
    width: 100%;
  }

}
.side-cat {
  margin: auto 0;
}
.side-cat li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

.side-cat li:hover {
  color: rgba(0,0,0, 0.7);
  cursor: pointer;
}

.container {
    position: relative;
    text-align: center;
    color: rgba(255,255,255, 0.7);
    margin: 15px;
}
/* Centered text */

.name, .counter {
  position: absolute;
  left: 50%;
  z-index: 100;
  font-family: monospace;
}

.name {
  top: 100%;
  transform: translate(-50%, -500%);
  font-size: 7vw;
}

.counter {
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
