img {
    width: 100%;
    height: auto;
    max-width: 100%
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
    position: relative;
    text-align: center;
    color: rgba(255,255,255, 0.7);
    margin: 15px;
    max-width: 46%;
}

/* Centered text */
.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-family: monospace;
    font-size: 15vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
